<table class="table">

    <thead>
        <tr>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Customer Id</th>
            <th>Company Name/Id</th>

        </tr>
    </thead>
    <tr *ngFor="let customer of customers">
        <td>{{customer.customerId}}</td>
        <td>{{customer.userId}}</td>
        <td>{{customer.customerId}}</td>
        <td>{{customer.companyName}}</td>

    </tr>
</table>


<table class="table">

    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Customer Surname</th>
            <th>Customer Id</th>
            <th>Company Name</th>
            <th>User Id</th>

        </tr>
    </thead>
    <tr *ngFor="let customerDetails of customerDetails">
        <td>{{customerDetails.firstName}}</td>
        <td>{{customerDetails.lastName}}</td>
        <td>{{customerDetails.customerId}}</td>
        <td>{{customerDetails.companyName}}</td>
        <td>{{customerDetails.userId}}</td>


    </tr>
</table>